html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  padding-top: 45%;
  background: #039cdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container #Layer_1 {
  position: absolute;
  bottom: 0;
}

.container .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.container .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -webkit-animation: animate calc(5s * var(--i)) linear infinite;
          animation: animate calc(5s * var(--i)) linear infinite;
}

.container #large-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-animation: panLarge1 110s linear 0s infinite;
          animation: panLarge1 110s linear 0s infinite;
}

.container #large-1 span {
  font-size: 30px;
  color: #d3d3d3;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

.container #large-2 {
  position: absolute;
  top: 0;
  left: -305%;
  width: 300%;
  height: 100%;
  -webkit-animation: panLarge2 110s linear 0s infinite;
          animation: panLarge2 110s linear 0s infinite;
}

.container #large-2 span {
  font-size: 30px;
  color: #d3d3d3;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

.container #large-3 {
  position: absolute;
  top: 0;
  left: -305%;
  width: 300%;
  height: 100%;
  -webkit-animation: panLarge3 110s linear 0s infinite;
          animation: panLarge3 110s linear 0s infinite;
}

.container #large-3 span {
  font-size: 30px;
  color: #d3d3d3;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

@-webkit-keyframes panLarge1 {
  0% {
    left: -300%;
  }
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panLarge1 {
  0% {
    left: -300%;
  }
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes panLarge2 {
  0% {
    left: -305%;
  }
  28% {
    left: -305%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panLarge2 {
  0% {
    left: -305%;
  }
  28% {
    left: -305%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes panLarge3 {
  0% {
    left: -305%;
  }
  61% {
    left: -305%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panLarge3 {
  0% {
    left: -305%;
  }
  61% {
    left: -305%;
  }
  100% {
    left: 100%;
  }
}

.container #medium-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-animation: panMedium1 90s linear 0s infinite;
          animation: panMedium1 90s linear 0s infinite;
}

.container #medium-1 span {
  font-size: 18px;
  color: #e2e2e2;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

.container #medium-2 {
  position: absolute;
  top: 0;
  left: -305%;
  width: 300%;
  height: 100%;
  -webkit-animation: panMedium2 90s linear 0s infinite;
          animation: panMedium2 90s linear 0s infinite;
}

.container #medium-2 span {
  font-size: 18px;
  color: #e2e2e2;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

.container #medium-3 {
  position: absolute;
  top: 0;
  left: -305%;
  width: 300%;
  height: 100%;
  -webkit-animation: panMedium3 90s linear 0s infinite;
          animation: panMedium3 90s linear 0s infinite;
}

.container #medium-3 span {
  font-size: 18px;
  color: #e2e2e2;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

@-webkit-keyframes panMedium1 {
  0% {
    left: -300%;
  }
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panMedium1 {
  0% {
    left: -300%;
  }
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes panMedium2 {
  0% {
    left: -305%;
  }
  28% {
    left: -305%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panMedium2 {
  0% {
    left: -305%;
  }
  28% {
    left: -305%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes panMedium3 {
  0% {
    left: -305%;
  }
  61% {
    left: -305%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panMedium3 {
  0% {
    left: -305%;
  }
  61% {
    left: -305%;
  }
  100% {
    left: 100%;
  }
}

.container #small-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-animation: panSmall1 70s linear 0s infinite;
          animation: panSmall1 70s linear 0s infinite;
}

.container #small-1 span {
  font-size: 14px;
  color: #f1f1f1;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

.container #small-2 {
  position: absolute;
  top: 0;
  left: -305%;
  width: 300%;
  height: 100%;
  -webkit-animation: panSmall2 70s linear 0s infinite;
          animation: panSmall2 70s linear 0s infinite;
}

.container #small-2 span {
  font-size: 14px;
  color: #f1f1f1;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

.container #small-3 {
  position: absolute;
  top: 0;
  left: -305%;
  width: 300%;
  height: 100%;
  -webkit-animation: panSmall3 70s linear 0s infinite;
          animation: panSmall3 70s linear 0s infinite;
}

.container #small-3 span {
  font-size: 14px;
  color: #f1f1f1;
  position: absolute;
  visibility: visible;
  white-space: pre;
}

@-webkit-keyframes panSmall1 {
  0% {
    left: -300%;
  }
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panSmall1 {
  0% {
    left: -300%;
  }
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes panSmall2 {
  0% {
    left: -305%;
  }
  28% {
    left: -305%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panSmall2 {
  0% {
    left: -305%;
  }
  28% {
    left: -305%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes panSmall3 {
  0% {
    left: -305%;
  }
  61% {
    left: -305%;
  }
  100% {
    left: 100%;
  }
}

@keyframes panSmall3 {
  0% {
    left: -305%;
  }
  61% {
    left: -305%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (max-width: 750px) {
  .container #large-1 span {
    font-size: 20px;
  }
  .container #large-2 span {
    font-size: 20px;
  }
  .container #large-3 span {
    font-size: 20px;
  }
  .container #medium-1 span {
    font-size: 15px;
  }
  .container #medium-2 span {
    font-size: 15px;
  }
  .container #medium-3 span {
    font-size: 15px;
  }
  .container #small-1 span {
    font-size: 12px;
  }
  .container #small-2 span {
    font-size: 12px;
  }
  .container #small-3 span {
    font-size: 12px;
  }
  @-webkit-keyframes panLarge1 {
    0% {
      left: -300%;
    }
    33% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes panLarge1 {
    0% {
      left: -300%;
    }
    33% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @-webkit-keyframes panLarge2 {
    0% {
      left: -330%;
    }
    28% {
      left: -330%;
    }
    66% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes panLarge2 {
    0% {
      left: -330%;
    }
    28% {
      left: -330%;
    }
    66% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @-webkit-keyframes panLarge3 {
    0% {
      left: -330%;
    }
    61% {
      left: -330%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes panLarge3 {
    0% {
      left: -330%;
    }
    61% {
      left: -330%;
    }
    100% {
      left: 100%;
    }
  }
  @-webkit-keyframes panMedium1 {
    0% {
      left: -320%;
    }
    33% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes panMedium1 {
    0% {
      left: -320%;
    }
    33% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @-webkit-keyframes panMedium2 {
    0% {
      left: -320%;
    }
    28% {
      left: -320%;
    }
    66% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes panMedium2 {
    0% {
      left: -320%;
    }
    28% {
      left: -320%;
    }
    66% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @-webkit-keyframes panMedium3 {
    0% {
      left: -320%;
    }
    61% {
      left: -320%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes panMedium3 {
    0% {
      left: -320%;
    }
    61% {
      left: -320%;
    }
    100% {
      left: 100%;
    }
  }
}

.section {
  width: 100%;
  height: 100vh;
  background: #039cdb;
}

.button {
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fade 0.5s linear;
          animation: fade 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.button:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.button:nth-child(5) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.button:nth-child(6) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.button:nth-child(7) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.button:nth-child(8) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.button:nth-child(9) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.button:nth-child(10) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.button:nth-child(11) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.button:nth-child(12) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.button:nth-child(13) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.button g .st2,
.button g .st7,
.button g .st8,
.button g .st9,
.button g .st10,
.button g .st11,
.button g .st12,
.button g .st13,
.button g .st14,
.button g .st15,
.button g .st16 {
  display: block;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button g .st2 text tspan,
.button g .st7 text tspan,
.button g .st8 text tspan,
.button g .st9 text tspan,
.button g .st10 text tspan,
.button g .st11 text tspan,
.button g .st12 text tspan,
.button g .st13 text tspan,
.button g .st14 text tspan,
.button g .st15 text tspan,
.button g .st16 text tspan {
  font-family: "Titillium Web";
  font-weight: 600;
}

.button g use {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: white;
  fill-opacity: 0;
}

.button:hover g .st2,
.button:hover g .st7,
.button:hover g .st8,
.button:hover g .st9,
.button:hover g .st10,
.button:hover g .st11,
.button:hover g .st12,
.button:hover g .st13,
.button:hover g .st14,
.button:hover g .st15,
.button:hover g .st16 {
  opacity: 1;
}

.button:hover g use {
  fill-opacity: 1;
}

#land_cruiser {
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-animation: fade 1s linear;
          animation: fade 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}
/*# sourceMappingURL=style.css.map */